cffi==2.0.0
numpy
pulsectl==24.12.0
pycparser==3.0
pydub==0.25.1
sounddevice==0.5.5
faster-whisper
onnxruntime-gpu
torch
torchaudio
transformers
sentencepiece
ctranslate2>=4.0.0
kokoro-onnx
soundfile
sacremoses
pytest
pytest-asyncio
